<form action="{{ url('delete_author', {id: author.id}) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-danger">
        Удалить
    </button>
</form>