{{ form_start(form) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.name) }}
    {{ form_row(form.patronymic) }}
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a class="btn btn-secondary" href="/author" type="submit">Вернуться к списку</a>
{{ form_end(form) }}