{% extends 'base.html.twig' %}

{% block title %}Редактирование автора{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-left">Редактирование автора</h1>
        <div class="row">
            <div class="col-sm-9">
                {{ include('author/_form.html.twig', {form: form}, with_context = false) }}
            </div>
            <div class="col-sm-3">
                <div class="section actions">
                    <a href="{{ path('show_author', {id: author.id}) }}" style="margin-bottom: 15px" class="btn btn-primary">
                        Просмотреть 
                    </a>
                    {{ include('author/_delete_confirmation.html.twig') }}
                    {{ include('author/_delete_form.html.twig', {author: author}, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}