{% extends 'base.html.twig' %}

{% block title %}Список авторов{% endblock %}

{% block body %}
    <style>
        .table thead th.actions,
        .table tbody td.actions {
            width: 30%;
        }
        #authors-list form {display: inline-block}
    </style>

    <div class="wrapper">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="row">
            <div class="col-md-8"><h1 class="text-left">Авторы</h1></div>
            <div class="col-md-4 text-right">
                <a class="btn btn-primary btn-lg" href="/author/new">Добавить автора</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="authors-list">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col actions">Действия</th>
                </tr>
                </thead>
                <tbody>
                    {% for author in paginator %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ author.surname }}</td>
                            <td>{{ author.name }}</td>
                            <td>{{ author.patronymic }}</td>
                            <td class="actions">
                                <a class="btn btn-info" href="/author/show/{{ author.id }}">Просмотреть</a>
                                <a class="btn btn-primary" href="/author/edit/{{ author.id }}">Редактировать</a>
                                {{ include('author/_delete_form.html.twig', {author: author}, with_context = false) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                <h3 class="display-5">В списке нет авторов</h3>
                            </td>
                        </tr>
                        <div class="well">нет записей</div>
                    {% endfor %}
                </tbody>
            </table>

            {% if maxPages > 1 %}
                <ul class="pagination">
                    <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                        <a class="page-link" aria-label="Previous" href="{{ path('author_list', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..maxPages %}
                        <li class="page-item {{ thisPage == i ? 'active' }}">
                            <a class="page-link" href="{{ path('author_list', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a class="page-link" aria-label="Next" href="{{ path('author_list', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
        {{ include('author/_delete_confirmation.html.twig') }}
    </div>
{% endblock %}