{% extends 'base.html.twig' %}

{% block title %}Добавление автора{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-left">Добавление автора</h1>
        <div class="row">
            <div class="col-sm-12">
            {{ include('author/_form.html.twig', {form: form}, with_context = false) }}
            </div>
        </div>
    </div>
{% endblock %}