{% extends 'base.html.twig' %}

{% block title %}Информация об авторе{% endblock %}

{% block body %}

    <div class="wrapper">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="row">
            <div class="col-md-8"><h1 class="text-left">{{author.getFullName}}</h1></div>
            <div class="col-md-4 text-right">
                <a class="btn btn-primary" href="/author/edit/{{author.id}}">Редактировать автора</a>
            </div>
        </div>
        <hr>


        {% if books|length == 0 %}
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h3 class="display-5">Для автора пока не добавлены книги</h3>
                <a class="btn btn-success btn-lg" href="/book/new?author={{ author.id }}">Добавить книгу</a>
              </div>
            </div>
        {% else %}
            <h2 class="text-left">Книги автора</h1>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Год издания</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Автор(ы)</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ book.getTitle }}</td>
                        <td>{{ book.getYear }}</td>
                        <td>{{ book.getIsbn }}</td>
                        <td>
                            {% for author in book.getAuthors %}
                                <div>
                                    <a href="/author/show/{{ author.id }}">{{ author.getFullName }}</a>
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/book/edit/{{ book.id }}">Редактировать</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}