{% extends 'base.html.twig' %}

{% block title %}Учёт книг и их авторов{% endblock %}

{% block body %}

    <div class="container text-center">
        <h1>Учёт книг и их авторов</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="/author">Перейти в раздел "Авторы"</a>
        <a class="btn btn-primary btn-lg" href="/book">Перейти в раздел "Книги"</a>
    </div>
{% endblock %}