{{ include('book/_delete_confirmation.html.twig') }}
<form action="{{ url('delete_book', {id: book.id}) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-danger">
        Удалить
    </button>
</form>