{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
        .select2-container .select2-selection--multiple {min-height: 38px}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.year) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.pages) }}
    {{ form_row(form.authors) }}

    <div class="row">
        <div class="col-sm-8 col-md-10">
            {{ form_row(form.cover) }}
        </div>
        <div class="col-sm-4 col-md-2 text-right">
            {% if form.vars.data.coverFilename %}
                <img class="cover-preview" src="/uploads/covers/{{ imagePath }}" height="100">
            {% else %}
                <img class="cover-preview" src="/img/no-image.png" height="100">
            {% endif %}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready( function() {

        $('#book_authors').select2({
            placeholder: "Выберите одного или нескольких авторов",
            closeOnSelect: false,
            minimumResultsForSearch: 1,
        });

        $("#book_cover").on('change', function() {

            input = this;
            
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.cover-preview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>
