{% extends 'base.html.twig' %}

{% block title %}Редактирование книги{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-left">Редактирование книги</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {{ include('book/_form.html.twig', {form: form}, with_context = false) }}
    </div>
{% endblock %}
