{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}
    <style>
        .books-table .book-cover {
            max-width: 200px;
            max-height: 200px;
        }
        #books-list form {display: inline-block}
    </style>

    <div class="wrapper">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="row">
            <div class="col-md-8"><h1 class="text-left">Книги</h1></div>
            <div class="col-md-4 text-right">
                <a class="btn btn-primary btn-lg" href="/book/new">Добавить книгу</a>
            </div>
        </div>
        <table class="table books-table table-hover table-bordered" id="books-list">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Обложка</th>
                    <th scope="col">Название</th>
                    <th scope="col">Год издания</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Страниц</th>
                    <th scope="col">Автор(ы)</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for book in paginator %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if book.coverFilename %}
                                <img class="book-cover" src="/uploads/covers/{{ book.coverFilename }}">
                            {% endif %}
                        </td>
                        <td>{{ book.getTitle }}</td>
                        <td>{{ book.getYear }}</td>
                        <td>{{ book.getIsbn }}</td>
                        <td>{{ book.pages }}</td>
                        <td>
                            {% for author in book.getAuthors %}
                                <div>
                                    <a href="/author/show/{{ author.id }}">{{ author.getFullName }}</a>
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/book/edit/{{ book.id }}">Редактировать</a>
                            {{ include('book/_delete_form.html.twig', {book: book}, with_context = false) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">
                            <h3 class="display-5">В списке нет книг</h3>
                        </td>
                    </tr>
                    <div class="well">нет записей</div>
                {% endfor %}
            </tbody>
        </table>

        {% if maxPages > 1 %}
            <ul class="pagination">
                <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                    <a class="page-link" aria-label="Previous" href="{{ path('book_list', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in 1..maxPages %}
                    <li class="page-item {{ thisPage == i ? 'active' }}">
                        <a class="page-link" href="{{ path('book_list', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a class="page-link" aria-label="Next" href="{{ path('book_list', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        {% endif %}

        {{ include('book/_delete_confirmation.html.twig') }}
    </div>
{% endblock %}