<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <style type="text/css">
        .starter-template {
            text-align: left;
        }
        .section.actions .btn {
            display: block;
            width: 100%;
        }
    </style>
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        // Handling the modal confirmation message.
        $(document).on('submit', 'form[data-confirmation]', function (event) {
            var $form = $(this),
                $confirm = $('#confirmationModal');

            if ($confirm.data('result') !== 'yes') {
                //cancel submit event
                event.preventDefault();

                $confirm
                    .off('click', '#btnYes')
                    .on('click', '#btnYes', function () {
                        $confirm.data('result', 'yes');
                        $form.find('input[type="submit"]').attr('disabled', 'disabled');
                        $form.submit();
                    })
                    .modal('show');
            }
        });
    </script>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Учёт книг и авторов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авторы</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/author">Список авторов</a>
                    <a class="dropdown-item" href="/author/new">Добавить автора</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Книги</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="/book">Список книг</a>
                    <a class="dropdown-item" href="/book/new">Добавить книгу</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="starter-template">
        {% block body %}{% endblock %}
    </div>
</main>
</body>
</html> 